.wrapper {
    margin-top: 4rem;
}

textarea {
    width: 100%;
    height: 250px;
}

form {
    width: 100%;
}

@media(min-width: 786px) {
    .wrapper {
        width: 100%;
        text-align: center;
    }

    .wrapper > * {
        text-align: left;
    }

    form {
        width: 50%;
        display: inline-block;
    }
}
